######################
# IntelliJ IDEA
######################
.idea/**
!.editorconfig
*.iml
*.iws
*.ipr
*.ids
*.orig
/out/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

######################
# Mac OSX
######################
.DS_Store

######################
# Maven
######################
/log/**
/target/**

logs/


src/test/**/FeatureWIP.java

.settings/*
.classpath
.factorypath
.project

common/.gitignore
common/target
service/.gitignore
service/target
client/.gitignore
client/target
